---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Links from '../components/Links.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<Layout title="John Gilliland, Sr. Software Engineer" description="Curriculum Vitae for John Gilliland, Sr. Software Engineer">
  <Header />
  <Section title="Core Skills">
    <Skills />
  </Section>
  <Section title="Experience">
    <Experience />
  </Section>
  <Section title="Links">
    <Links />
  </Section>
  <Section title="Social Links">
    <SocialLinks />
  </Section>
</Layout>