---
import { getCollection } from 'astro:content';

const links = (await getCollection('links'))[0].data;
const personal = (await getCollection('personal'))[0].data;

const showResumeDownload = personal.resume_avatar === "true";
---

<div class="py-4">
  <ul class="space-y-2">
    {links.map((link) => (
      <li>
        <a href={link.url} target="_blank" rel="noopener noreferrer" class="text-blue-600 dark:text-blue-400 hover:underline">
          {link.description}
        </a>
      </li>
    ))}
    {showResumeDownload && (
      <li>
        <a href="/JohnGilliland_Resume.pdf" target="_blank" rel="noopener noreferrer" class="text-blue-600 dark:text-blue-400 hover:underline flex items-center">
          <img src="/download.svg" class="w-5 h-5 mr-2" alt="Download Resume" />
          Download Resume (PDF)
        </a>
      </li>
    )}
  </ul>
</div>