---
import { readFileSync } from 'fs';
import { load } from 'js-yaml';
import path from 'path';

interface SkillCategory {
  category: string;
  skills: string;
}

const skillsDataPath = path.resolve(process.cwd(), 'src/data/skills.yml');
const skillCategories: SkillCategory[] = load(readFileSync(skillsDataPath, 'utf8')) as SkillCategory[];
---

<div class="py-4">
  <div class="grid grid-cols-2 gap-x-4 gap-y-2">
    {skillCategories.map((item) => (
      <>
        <div class="font-bold text-blue-600 dark:text-blue-400">{item.category}</div>
        <div>{item.skills}</div>
      </>
    ))}
  </div>
</div>