---
import { getCollection } from 'astro:content';

const socialLinks = (await getCollection('socials'))[0].data;
---

<div class="py-4 mx-2">
  <ul class="flex float-right space-x-2 ">
    {socialLinks.map((link) => (
      <li>
        <a href={link.url} target="_blank" rel="noopener noreferrer" class="text-blue-600 dark:text-blue-400 hover:underline">
          <img src={link.icon} class="w-8 h-8" alt={link.url} />
        </a>
      </li>
    ))}
  </ul>
</div>
