---
import { readFileSync } from 'fs';
import { load } from 'js-yaml';
import path from 'path';

interface SocialLink {
  url: string;
  image: string;
}

const socialsDataPath = path.resolve(process.cwd(), 'src/data/socials.yml');
const socialLinks: SocialLink[] = load(readFileSync(socialsDataPath, 'utf8')) as SocialLink[];
---

<div class="py-4">
  <ul class="flex justify-center space-x-4">
    {socialLinks.map((link) => (
      <li>
        <a href={link.url} target="_blank" rel="noopener noreferrer" class="text-blue-600 dark:text-blue-400 hover:underline">
          <img src={link.image.replace('public/', '/')} class="w-8 h-8" alt="Social Icon" />
        </a>
      </li>
    ))}
  </ul>
</div>